* {
  box-sizing: border-box;
}
body{
  font-family: Tahoma, sans-serif;
  line-height: 1.5;
  color: #333333;
}
.section{
  padding: 30px 10%;
}
.header {
  font-size: 24px;
  text-align: center;
  margin-top: 80px;
}
.header span{
  font-weight: 300;
  display: block;
}
.header strong{
  font-weight: 900;
  text-transform: uppercase;
}
.main{
  margin-top: 80px;
}
.video, .form{
  display: inline-block;
}
